[package]
name = "shoal-core"
version = "0.1.0"
edition = "2021"

[features]
default = ["server"]
# Enables the server features for Shoal
server = ["glommio"]

[dependencies]
clap = { version = "4.2", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
config = "0.13" 
gxhash = "2.2"
rkyv = { version = "0.7", features = ["arbitrary_enum_discriminant", "uuid", "validation"] }
glommio = { version = "0.8", optional = true }
async-tungstenite = { version = "0.21", features = ["tokio-runtime"] }
bytes = "1.5"
intmap = "2"
futures = "0.3"
kanal = "0.1.0-pre8"
tokio = { version = "1", features = ["full"] }
uuid = { version = "1", features = ["v4"] }
dashmap = "5.5"
